.next
node_modules
out
.env*
!.env.example
npm-debug.log*
dev-server.log
dev-server-error.log
.gradle/
build/
**/build/
.idea/
*.iml
local.properties
.env
node_modules/
.env
.env.local
dist/
build/
.vscode/
.idea/
.DS_Store
Thumbs.db